/* header头部部分 */
.header {
    border-bottom: 2px solid #b1191a;
}

/* 注册页面专有样式 */
/* registerarea注册专区模块 */
.registerarea {
    height: 525px;
    margin-top: 20px;
    border: 1px solid #dddddd;
}

/* 专区的头部模块reg_hd*/
.reg_hd {
    height: 42px;
    border-bottom: 1px solid #dddddd;
    background-color: #ececec;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
}

.reg_hd h3 {
    float: left;
    padding-left: 10px;
    font-size: 18px;
}

.reg_hd .login {
    float: right;
    padding-right: 10px;
}

/* 专区的主体模块reg_form */
.reg_form {
    width: 600px;
    margin: 50px auto;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    outline: none;
    border: 1px solid #ccc;
}

.reg_form ul li .error {
    color: #df3033;
    margin-left: 10px;
}

.error .error_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/error_icon.png) no-repeat center;
    vertical-align: middle;
    margin-top: -2px;
}

.reg_form ul li:nth-child(1),
.reg_form ul li:nth-child(2) {
    margin-bottom: 20px;
}

/* 安全模块 */
.reg_form ul .safe {
    padding-left: 163px;
    margin: 10px 0 20px 0;
}

.reg_form ul .safe em {
    padding: 0 12px;
    color: #fff;
}

.safe em:nth-child(1) {
    background-color: #de1111;
}

.safe em:nth-child(2) {
    background-color: #40b83f;
}

.safe em:nth-child(3) {
    background-color: #f79100;
}

/* 同意模块 */
.reg_form ul .agree {
    margin-top: 40px;
    margin-left: 90px;
}

.reg_form ul .agree input {
    vertical-align: middle;
    margin-right: 5px;
}

.reg_form ul .agree a {
    margin-left: 5px;
    color: #1ba1e6;
}

/* 提交模块 */
.reg_form ul li .sub {
    width: 200px;
    height: 36px;
    background-color: #c81623;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-top: 50px;
    margin-left: 98px;
}

/* footer底部部分 */
.footer {
    height: 100px;
    background-color: #fff;
    margin-top: 25px;
    padding-top: 0;
}